html {
  font-size: 14px;
  color:white;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

///
.pull-right {
    text-align: right;
}

.modal-content {
    background: black;
    color: white;
    border-color: purple;
}

body {
    background: #1C1C1C;
    color: white;
}

.tabeladesc {
    text-align: left;
}

#container-login {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 15%;
}

#modalconteudo {
    width: 100%;
}

.nav-tabs button :active {
    background-color: yellow !important;
}
